body
{
  background-color: black;
  color: white;
}

.p1
{
  font-size: 30px;
  font-weight: bold;
}

.moveicon
{
  height: 50px;
}

.movebutton
{
  background-color: transparent;
  border-style: solid;
  border-color: white;
  padding: 30px; 
  border-radius: 70px;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 30px;
}

.result
{
  font-size: 25px;
  font-weight: bold;
}

.moves
{
  margin-top: 50px;
}

.score
{
  margin-top: 50px;
}

.reset
{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}